*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: #f7f7f7;
}
#nav{
    /* height: 100px; */
    width: 100%;
    /* background-color: burlywood; */
    position:fixed;
    z-index: 99;
    padding: 25px;
    display: flex;
    align-items: flex-start;
    justify-content:space-between ;
}
#nav-part1{
    /* background-color: red; */
    height: 82px;
    overflow: hidden;
}
#nav-part1 svg{
    display: block;
}
#nav #nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
#links{
    padding:10px ;
}
#nav-part2 #links a{
    text-transform: uppercase;
    text-decoration: none;
    color: #333;
    font-weight:500px;
    font-size: 14px;
    margin:0 20px;
}
#nav-part2 #icons i{
    font-size: 18px;
    margin:0 20px;
    font-weight: 100;
}
#icons{
    padding:10px;
    border-radius: 50px;
    background-color: #f7f7f7;
}
#cursor{
    height: 100px;
    width:100px;
    background-color: blanchedalmond;
    border-radius: 50%;
    position: fixed;
    transform:translate(-50%,-50%) scale(0) ;
}
*::selection{
    color: #fff;
    background-color: black;
}
#page1{
    min-height: 100vh;
    /* background-color: blueviolet; */
    position: relative;
    width: 100%;
    padding: 1vw 1vw;
    padding-top: 24vh;
}
#page1 h1{
    font-size: 15.8vw;
    font-family: 'futura';
    line-height: 13vw;
    letter-spacing: -7px;
}
#video-container{
    height: 100vh;
    width: 100%;
    /* background-color: aqua; */
    margin-top: 1vw;
    position: relative;
}
#video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#video-container #play{
    padding: 3vw 2.2vw;
    background-color: black;
    color: #fff;
    font-size: 1.3vw;
    position: fixed;
    text-transform: uppercase;
    font-family: 'futura';
    border-radius: 50%;
    opacity: 0;
    scale: 0;
}
#page2{
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding: 3vw 1vw;
    justify-content: space-between;
}
#page2 .elem{
    height: 100%;
    width: 32%;
    overflow: hidden;
    position: relative;
    display:flex;
    align-items: center;
    justify-content: center;
}
#page2 .elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1.1;
}
#page2 .elem .dets{
    height: 40px;
    width: 70%;
    border-radius: 50px;
    position: absolute;
    z-index: 9;
    background-color:palegoldenrod;
}
#page2 .elem .dets:hover{
    height: 200px;

}
#page3{
    min-height: 120vh;
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
} 
.child{
    height: 55vh;
    width: 40vw;
    /* background-color: red; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.child img{
    height:100%;

}

@media (max-width:600px){
    #nav{
        /* height: 100px; */
        width: 100%;
        /* background-color: burlywood; */
        position:fixed;
        z-index: 99;
        padding: 15px;
        display: flex;
        align-items: flex-start;
        justify-content:space-between ;
    }
    #nav-part1{
        /* background-color: red; */
        height: 64px;
        overflow: hidden;
    }
    #nav-part1 svg{
        display: block;
        height: 64px;
        width: 80px;
    }
    #nav #twogoodlogo{
        height:40px;
        margin-left: -20px;
    }
    #nav #nav-part2{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }
    #links{
        padding:10px ;
        display: none;
    }
    #nav-part2 #icons i{
        font-size: 15px;
        margin:0 20px;
        font-weight: 100;
    }
    #icons{
        padding:7px;
        border-radius: 50px;
        background-color: #f7f7f7;
    }
    #page1{
        min-height: 70vh;
        width: 100%;
        padding: 0vw 3vw;
        padding-top: 25vh;
    }
    #page1 h1{
        font-size: 15.5vw;
        letter-spacing: -3px;
    }
    #video-container{
        height: 25vh;
        margin-top: 3vw;
    }
    #video-container #play{
        padding: 9.5vw 7.2vw;
        font-size: 4.5vw;
        position: absolute;
        top: 50%;
        left: 50%;
        opacity:1;
        scale:1;
        transform: translate(-50%,-50%);
    }
    #page2{
        min-height: 100vh;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        padding: 5vw 3vw;
        flex-direction: column;
        justify-content: space-between;
        /* background-color: red; */
    }
    #page2 .elem{
        height: 100vh;
        width: 100%;
        overflow: hidden;
        margin-bottom: 4vw;
    }
    #page3{
        min-height: 120vh;
        width: 100%;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    } 
    .child{
        height: 55vh;
        width: 88vw;
        /* background-color: red; */
        padding: 15vw;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .child img{
        height:100%;
    
    }
}